<h2> New Group Form Page </h2>

<%= form_for @group do |f| %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :icon, "Icon" %>
  <%= f.file_field :icon %>
  <br/ >

  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>

  <%= f.submit "Add Group" %>

<%end%>
