<h2> Group Show Page for <%= @group.name%> </h2>
<p>
  <% if @group.description %>
    Description: <%= @group.description %>
  <%end%>
</p>

<p>
  <% if @group.icon %>
    Icon: <%= @group.icon %>
  <%end%>
</p>

<h3> Available Products </h3>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.name, group_product_path(@group, product) %>
  </li>
  <%end%>
</ul>

<p>
<%= link_to "Add New Product", new_group_product_path(@group) %>
</p>
