<h2> Product Show Page for <%= @product.name%> </h2>
<p>
  <% if @product.description %>
    Description: <%= @product.description %>
  <%end%>
</p>

<p>
  <% if @product.image %>
    Image: <%= @product.image %>
  <%end%>
</p>

<p>
  <% if @product.purchase_date %>
    Purchase date: <%= @product.purchase_date %>
  <%end%>
</p>

<p>
  <% if @product.expiration_date %>
    Expiration date: <%= @product.expiration_date %>
  <%end%>
</p>
